* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
/*========
Framework
=========*/
.grid {
    max-width: 9400px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
    text-align: center;
}
/*==============
END of Framework
===============*/
/*===========
General Style
=============*/
body{
    background-size: 100%;
    width: 100%;
    height: auto;
    color: white;
}
ul{
    list-style-type: none;
    margin-left: 2%;
    margin-bottom: 1.25%;
}
li{
    text-align: left;
    padding-left: 2%;
}
/*==================
END of Geleral style
====================*/
/*======================
style for portfolio page
========================*/
.col-12.title{
    background-color: #3a87ad;
    font-size:100%;
}
.portfolio{
        background-image: url("images/code6.jpg");
}
#nav{
    font-size: 1.5rem;
    background-color: #318cb1;
    color: white;
    margin-bottom: 3%;
}
#skills{
    font-size: 2.5rem;
    margin-left: 1%;
}
.ready {
  list-style-type: none;
  font-size: 3rem;
  font-weight: 500;
  margin: 3%;
  margin-bottom: 10%;
}
.listready{
    margin-bottom: 3rem;
}

.nav{
    color:white;
    margin-left: 10%;
}
.img{
    max-width: 35px;
}
.css{
    margin-left: 4%;
}
.js{
    margin-left: 8%;
}
.php{
    margin-left: 12%;
}
.mysql{
    margin-left: 16%;
}
.bootstrap{
    margin-left: 18%;
}
.wordpress{
    margin-left: 22%;
}

/*===================
style for resume page
=====================*/
.resume{
    background-color: white;
    color: black;
    }
    .col-12.name{
    font-size: 4rem;
    padding-left: 7%;
    text-align: left;
    }
    .col-12.etech{
    text-align: left;
    padding-left: 7%;
    font-size: 2rem;
    }
.col-12.summary{
    padding-left: 7%;
    padding-right: 7%;
    text-align: left;
    font-size: 1.2rem;
    line-height: 2rem;
}
h3{
    font-size: 2em;
    background-color: grey;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.position{
    font-size: 2rem;
}
.company{
    font-size: 1.5rem;
}
.role{
    font-size: 1.2rem;
}
.col-12.addinfo{
padding-left: 7%;
padding-right: 7%;
text-align: left;
font-size: 1.2rem;
line-height: 2rem;
}
/*====================
style for blog page
======================*/
.col-12.blog iframe{
    height:34rem;
    width:100%;
    position:relative;
    max-width: 100%
}
/*====================
style for contacts page
======================*/
.contacts{
    background-color: white;
    color: black;
    }
.col-12.cordinates{
    color: red;
}
.col-12.map iframe{
    height:20rem;
    width:80%;
    position:relative;
    max-width: 100%;
}

